#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 1.2em;
  padding-top: 0.8em;
  border-bottom: 1px solid #aaa;
  margin-bottom: 2px;
}

h2 {
  background: -webkit-linear-gradient(rgb(125, 165, 233), rgb(184, 95, 209));
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 6rem;
  margin: 0;
  line-height: 1.2em;
}
